/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

header h1 {
    margin: 0;
    display: flex;
    align-items: center;
    margin-right: 440px;
}
.ojo-icon {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

nav {
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
footer img.whatsapp-icon {
    width: 20px;
    height: 20px;
}
footer img.posicion-icon {
    width: 20px;
    height: 20px;
}
footer img.telefono-icon {
    width: 20px;
    height: 20px;
}
footer img.mail-icon {
    width: 20px;
    height: 20px;
}

#instagram-icon,
.instagram-icon {
  font-size: 24px;
  width: 20px;
  height: 20px;
  color: #E1306C;
}
/*estilo profesionales*/
.profesional {
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    height: auto;
    flex-wrap: wrap;
}
.profesional {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.profesional img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profesional h1 {
    margin-top: 10px;
    text-align: center;
}

.profesional p {
    margin-bottom: 5px;
    text-align: center;
}


  